body {

    background-position: center;
    background-size: cover;
    
    }
    
    canvas {
    
    box-shadow: 10px, 10px, 10px, gray;
    border-style: groove;
    
    
    }
    
    
    .heading
    {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    }

    .pictures {

        font-size: 28px;
        border-radius: 20px;
        border-color: blueviolet;
        border-style: solid;
        padding: 10px;
        margin-top: 30px;

    }